<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>POST Blogs!!!!!!!</h1>
{% if is_paginated %}
{% for post in page_obj %}
<div>
    <h2>{{post.id}}.{{ post.title }}</h2>
    <p>{{ post.description| truncatewords:30 }}<a href="{% url 'detail' post.id %}">Read More</a></p>
    <small>{{ post.publish_date }}</small>
</div>

{% endfor %}

<div>
    <span>
        <h3>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous </a>
        {% endif %}
        <span>{{page_obj.number}} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next </a>
        {% endif %}</h3>
    </span>
    {% else %}
    {% for post in object_list %}
    <div>
        <h2>{{post.id}}.{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <small>{{ post.publish_date }}</small>
    </div>
    {% endfor %}

    {% endif %}
</div>
</body>
</html>